.page-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header {
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 52px 80px;
}
.logo {
  margin-right: 70px;
  flex-shrink: 0;
}
.search {
  display: none;
}
.search--icon {
  display: block;
  margin-top: 0;
}
a:hover .icon:before,
a:active .icon:before {
  color: rgba(255, 255, 255, 0.8);
}
.lang {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  display: block;
  margin-right: calc(100vw * 89 / 1600);
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: color 0.3s, border-color 0.3s;
}
.lang:hover {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}
.icon-list {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.icon-list:first-child {
  margin-right: 0;
}
.search-input {
  display: none;
}
.search-input__form-wrap {
  display: none;
}
.search-input--list {
  margin-right: 47px;
  display: block;
}
.counter--header {
  color: #FFFFFF;
  background-color: #1E8A47;
  line-height: 14px;
  transform: translate(1px, 3px);
}
.burger--header {
  margin-top: 0;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  position: relative;
}
.burger--header::before,
.burger--header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  transition: width 0.3s linear, background-color 0.3s linear;
  background-color: #FFFFFF;
}
.burger--header::before {
  right: -8px;
  top: -5px;
}
.burger--header::after {
  left: -9px;
  bottom: -5px;
}
.burger--header:hover::before,
.burger--header:hover::after {
  width: 47px;
  transition-delay: 0.6ms;
}
.burger--header:hover .burger__border::before,
.burger--header:hover .burger__border::after {
  height: 40px;
  transition-delay: 0.6ms;
}
.burger__border {
  display: inline-block;
}
.burger__border::before,
.burger__border::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: width 0.3s linear, background-color 0.3s linear;
  background: #FFFFFF;
}
.burger__border::before {
  left: -10px;
  top: -5px;
}
.burger__border::after {
  right: -10px;
  bottom: -5px;
}
.dropbox {
  display: none;
}
.cart,
.likes {
  width: 21px;
  height: 21px;
  display: block;
  margin-right: 47px;
}
.cart {
  margin-right: 107px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list-item {
  margin-right: calc(100vw * 89 / 1600);
}
.menu__list-item--right {
  margin-right: calc(100vw * 71 / 1600);
}
.menu__link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  transition: color 0.3s;
  white-space: nowrap;
}
.menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}
.menu__link--list {
  display: flex;
  align-items: center;
}
.menu__link--list:after {
  content: "";
  margin-left: 7px;
  background-image: url("../images/svg/bottom9x5.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}
@media (max-width: 1530px) {
  .menu__list-item {
    margin-right: calc(100vw * 75 / 1600);
  }
  .logo {
    margin-right: calc(100vw * 75 / 1600);
  }
}
@media (max-width: 1480px) {
  .menu__list-item {
    margin-right: calc(100vw * 65 / 1600);
  }
  .logo {
    margin-right: calc(100vw * 65 / 1600);
  }
}
@media (max-width: 1410px) {
  .menu__list-item {
    margin-right: calc(100vw * 55 / 1600);
  }
  .logo {
    margin-right: calc(100vw * 55 / 1600);
  }
}
@media (max-width: 1330px) {
  .menu__list-item {
    margin-right: calc(100vw * 45 / 1600);
  }
  .logo {
    margin-right: calc(100vw * 45 / 1600);
  }
}
@media (min-width: 1600px) {
  .menu__list-item {
    margin-right: 89px;
  }
  .menu__list-item--right {
    margin-right: 70px;
  }
  .logo {
    margin-right: 71px;
  }
  .lang {
    margin-right: 89px;
  }
}
/* HOME - START */
.home {
  padding: 0 0 0 172px;
  min-height: 700px;
  margin: 0 0 0 0;
}
.home__wrap-title {
  margin: auto 0 164px 0;
  padding-right: 365px;
}
.home__wrap-contacts {
  position: absolute;
  bottom: 0;
  right: 0;
}
.phone {
  width: 348px;
  height: 103px;
  z-index: 5;
}
.phone__text {
  padding: 6px 0 0 0;
}
.contacts {
  width: 348px;
  height: 348px;
  padding: 0;
  padding: 125px 77px;
}
.contacts__phone {
  margin-bottom: 21px;
  transition: color 0.3s;
}
.contacts__phone:hover {
  color: rgba(255, 255, 255, 0.8);
}
.title--h1 {
  font-size: 150px;
  line-height: 203px;
  margin: 0 0 5px 0;
  transition: color 0.3s;
}
.subtitle {
  max-width: 562px;
  padding: 0 0 0 7px;
  line-height: 27px;
  transition: color 0.3s;
}
.arrow {
  top: auto;
}
.arrow--prev {
  bottom: 361px;
  left: 76px;
}
.arrow--prev::before {
  top: 41%;
  left: 5px;
}
.arrow--prev svg {
  width: 16px;
  height: 16px;
}
.arrow--prev:hover::before {
  width: 70px;
}
.arrow--next {
  bottom: 254px;
  left: auto;
  right: 77px;
  z-index: 1;
  padding-left: 335px;
}
.arrow--next::before {
  width: 344px;
  top: 41%;
  left: auto;
  right: 5px;
}
.arrow--next svg {
  width: 16px;
  height: 16px;
}
.arrow--next:hover::before {
  width: 366px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .arrow--prev {
    bottom: 355px;
  }
  .arrow--next {
    bottom: 260px;
  }
  .page-wrapper {
    max-width: 1920px;
  }
  .footer-green__link {
    height: 159px;
  }
  .lang {
    line-height: 13px;
  }
  .header {
    max-width: 1600px;
  }
  .menu__link--list::after {
    height: 7px;
  }
  .burger__button::before {
    height: 3px;
  }
  .burger--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E8A47;
    height: 40px;
  }
  .service__counter {
    margin-right: auto;
  }
  .burger__border::before {
    width: 3px;
  }
}
.city__geo:hover svg,
.phone__icon:hover svg {
  fill: rgba(255, 255, 255, 0.8);
}
.city:hover .city__name,
.city:hover .city__geo svg {
  fill: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.phone:hover .phone__text,
.phone:hover .phone__icon svg {
  fill: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1440px) {
  .title--h1 {
    font-size: 120px;
  }
}
/* HOME - END */
/* PRODUCTS - START */
.products {
  margin: 0 0 128px 0;
}
.products__wrap {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 12.5% 0 12.5%;
  margin-top: -70px;
}
.card-door--interior {
  order: 0;
  margin: 0;
  width: 50%;
}
.card-door__wrap {
  overflow: hidden;
}
.card-door__wrap::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(60, 60, 60, 0);
  transition: background-color 0.6s;
  z-index: 2;
}
.card-door__link:hover .door__wrapper {
  transform: scale(1.1);
}
.card-door__link:hover .card-door__wrap::before {
  background-color: rgba(60, 60, 60, 0.4);
  z-index: 2;
}
.card-door--entrance {
  order: 1;
  margin: 0;
  width: 50%;
  align-self: flex-end;
}
.card-door--hidden {
  order: 2;
}
.card-door--estet {
  order: 5;
  padding: 0 0 125px 30%;
  margin: -114px 0 0 0;
}
.card-door--decorative {
  order: 3;
  width: 25%;
}
.card-door--sliding {
  order: 4;
  width: 50%;
  margin: 0 0 0 0;
}
.card-door--description {
  order: 8;
  padding: 0 30% 0 0;
  margin: -99px 0 0 0;
}
.card-door--interior-partition {
  order: 6;
  margin: -115px 0 0 50%;
  width: 100%;
}
.card-door--wall-panel {
  order: 7;
  width: 50%;
  margin: 0 0 0 25%;
}
.card-door--baseboard {
  order: 9;
  margin: 0 0 0 0;
  width: 50%;
}
.card-door__name {
  transition: color 0.3s;
  z-index: 3;
}
.card-door__name--interior {
  right: 44px;
}
.card-door__name--sliding {
  bottom: 42px;
}
.card-door__name--wall-panel {
  right: 32px;
  top: 32px;
}
.card-door__name--interior-partition {
  bottom: 42px;
  left: 46px;
}
.card-door__description {
  transition: color 0.3s;
}
.card-door__description--first {
  text-align: right;
}
.card-door__link--hidden {
  width: 50%;
  margin-left: auto;
}
.card-door__link--entrance {
  width: 50%;
  margin-left: auto;
  margin-top: auto;
}
.card-door__link--decorative {
  width: 100%;
  margin: 0 auto 0 0;
}
.card-door__link--interior-partition {
  margin: 0 0 0 auto;
}
.card-door__link--wall-panel {
  margin: 0;
}
.card-door__link--baseboard {
  margin: 0 auto 0 0;
}
.door__wrapper {
  transition: scale, 0.6s;
}
.door__wrapper--interior {
  max-height: 362px;
  height: calc(100vw * 362 / 1600);
}
.door__wrapper--entrance {
  max-height: 224px;
  height: calc(100vw * 224 / 1600);
}
.door__wrapper--hidden {
  max-height: 362px;
  height: calc(100vw * 362 / 1600);
  width: 100%;
}
.door__wrapper--decorative {
  max-height: 362px;
  height: calc(100vw * 362 / 1600);
  margin: 0 auto 0 0;
}
.door__wrapper--interior-partition {
  max-height: 311px;
  height: calc(100vw * 311 / 1600);
  width: 100%;
}
.door__wrapper--wall-panel {
  max-height: 225px;
  height: calc(100vw * 225 / 1600);
  width: 100%;
}
.door__wrapper--baseboard {
  max-height: 225px;
  width: 100%;
  margin: 0 auto 0 0;
  height: calc(100vw * 225 / 1600);
}
.card-door__link:hover .card-door__name--interior,
.card-door__link:hover .card-door__name--entrance,
.card-door__link:hover .card-door__name--hidden,
.card-door__link:hover .card-door__name--decorative,
.card-door__link:hover .card-door__name--wall-panel,
.card-door__link:hover .card-door__name--baseboard {
  color: rgba(255, 255, 255, 0.8);
}
.card-door__link:hover .card-door__name--interior-partition,
.card-door__link:hover .card-door__name--sliding,
.card-door__link:hover .card-door__description {
  color: rgba(60, 60, 60, 0.8);
}
@media (max-width: 1450px) {
  .card-door__description--second {
    min-width: 215px;
  }
}
/* PRODUCTS - END */
.solution {
  display: flex;
  padding-left: calc(100vw * 200 / 1600);
  padding-bottom: 0;
  margin-bottom: 107px;
  align-items: flex-end;
}
.solution__wrapper {
  height: auto;
  max-height: 100vh;
}
.solution__content {
  display: flex;
  height: 100%;
  margin-right: 67px;
  width: 413px;
}
.solution__images {
  height: calc(100vw * 801 / 1600);
}
.solution__description {
  padding-top: 0;
  margin-bottom: 80px;
  padding-right: 70px;
  max-width: none;
}
.title--solution {
  font-size: 60px;
  line-height: 57px;
  padding: 0;
  margin: auto 0 101px -5px;
}
.button--solution {
  border: 1px solid #1E8A47;
}
.sale {
  padding: 0 12.5%;
  margin-top: 10px;
}
.sale__buttons {
  flex-direction: row-reverse;
}
.sale__wrapper {
  margin: 0 calc((100vw - 1280px) * 200 / (1600 - 1280) - 200px);
  margin-bottom: 31px;
}
.sale__content {
  margin-bottom: 137px;
  padding: 0;
}
.sale__link {
  height: calc(100vw * 497 / 1600);
}
.sale__images {
  height: 100%;
}
.sale__title--main {
  flex-direction: row;
  font-family: "Lora";
  align-items: center;
  left: 41.5%;
  top: 43px;
  margin-bottom: 0;
  width: 38%;
}
.sale__title--alternate {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  margin-bottom: 22px;
  width: 60%;
}
.sale__discount {
  font-size: 150px;
  line-height: 192px;
}
.sale__discount:before {
  height: 8px;
  width: 110px;
  margin-top: 14px;
}
.sale__discount-about {
  width: 200px;
  margin-bottom: 77px;
  line-height: 26px;
  flex-shrink: 0;
  padding-left: 22px;
}
.sale__discount-about::after {
  left: 23px;
  bottom: -8px;
}
.sale__description {
  font-size: 16px;
  line-height: 19px;
  width: 640px;
  order: 3;
  margin-bottom: 0;
}
.sale__content-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sale__date {
  order: 2;
  text-align: right;
  width: 40%;
  margin-top: 9px;
}
@media (max-width: 1332px) {
  .sale__wrapper {
    margin-left: -160px;
    margin-right: -160px;
  }
}
@media (min-width: 1600px) {
  .sale__wrapper {
    margin: 0;
    margin-bottom: 31px;
  }
}
.button--disabled {
  display: flex;
}
@media (max-width: 1400px) {
  .sale__title--main {
    width: 43%;
  }
}
.service {
  padding: 0 12.5%;
  margin-bottom: 94px;
}
.service__warranty {
  width: 49%;
  margin-right: 42px;
}
.service__counter {
  font-size: 200px;
  line-height: 256px;
  width: 260px;
  height: 510px;
  padding-right: 43px;
}
.service__counter::before {
  transform: rotate(14deg);
  top: -36px;
  border-bottom: 110px solid #FFFFFF;
}
.service__container {
  margin-top: -52px;
  padding-left: 45px;
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}
.service__container--wrapper {
  padding-left: 62px;
  padding-right: 70px;
}
.service__description p {
  display: inline-block;
  font-size: 16px;
}
.service__description--order {
  margin-top: -65px;
  padding-right: 60px;
  margin-bottom: 62px;
}
.service__description--warranty {
  max-width: 457px;
  margin-bottom: 30px;
}
.service__warranty-link {
  font-size: 17px;
  margin-top: 28px;
  line-height: 62px;
}
.service__order {
  padding-top: 102px;
  width: 48%;
}
.service__order h2,
.service__order p {
  padding-left: 0;
}
.service__images {
  height: calc(100vw * 564 / 1600);
  margin-left: -6px;
}
.service__title {
  margin-bottom: 43px;
}
.title--service,
.title--order {
  font-size: 60px;
  line-height: 57px;
  margin-top: -105px;
}
.title--order {
  margin-top: -150px;
  margin-bottom: 91px;
  position: relative;
}
.title--service {
  padding-left: 60px;
}
.button--service {
  margin-left: -3px;
}
.review {
  padding-left: 12.5%;
  margin: 0;
  margin-bottom: 22px;
  height: 846px;
}
.review__title {
  padding: 0;
  margin-bottom: 108px;
  line-height: 49px;
}
.review::after {
  height: 120px;
}
.review__picture {
  width: calc(100% - 400px);
}
.review__link-play {
  width: 138px;
  height: 142px;
  transform: translate(-195%, 50%);
}
.review__video-block {
  width: 400px;
  left: auto;
  top: -154px;
  right: 0;
  height: 840px;
}
.review__video-block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 1px;
  transform: translateX(-100%);
  width: 239px;
  height: 155px;
  background-color: #1E8A47;
}
.review__more {
  max-width: 255px;
  left: -27px;
  top: auto;
  bottom: 30px;
  padding: 0 0 0 63px;
  margin: 0;
  transform: translateX(-100%);
}
.review__more::before {
  top: 4px;
}
.review__list {
  width: 100%;
  padding: 155px 0 0 29px;
}
.review__item {
  margin: 0 46px 32px 0;
  flex-shrink: 0;
  min-width: 171px;
}
.review__item--desktop {
  display: none;
}
.review__link {
  flex-direction: column;
  padding: 0 0 12px 0;
}
.review__text {
  margin: 11px 0 0 0;
}
.review__button {
  top: 155px;
  flex-direction: column;
}
.review__icon {
  transform: translate(25px, 3px);
}
.button--review-dis svg {
  transform: rotate(-90deg);
}
.button--review-act svg {
  transform: rotate(90deg);
}
.about {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 47px;
}
.about__text {
  padding: 66px 91px 32px 70px;
}
.about__container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.about__description {
  margin-bottom: 0;
  width: auto;
  -webkit-line-clamp: 6;
}
.about__images {
  flex-shrink: 0;
  width: 321px;
}
.about__images-company {
  z-index: 2;
}
.about__footer {
  flex-direction: row-reverse;
  position: absolute;
  left: 0;
  bottom: 46px;
}
.about__images-footer {
  width: 717px;
  margin-left: -2px;
}
.slider--solution {
  padding-right: 0;
}
.slider--solution .slider__images {
  margin-bottom: 0;
}
.slider__wrapper-tablet {
  position: relative;
}
.slider__title {
  margin-bottom: 16px;
}
.slider__inner {
  height: 653px;
  width: 40%;
}
.slider__link {
  position: relative;
}
.slider__text-alt {
  padding: 58px 36px 58px 39px;
  position: relative;
}
.radial-tap {
  display: block;
  position: absolute;
  width: 56px;
  border-radius: 50%;
  height: 56px;
  z-index: 3;
  transition: opacity 0.3s;
  background-image: radial-gradient(circle, #1e8a47 4px, #ffffff 5px, #ffffff 12px, rgba(255, 255, 255, 0.22) 13px, rgba(255, 255, 255, 0.22) 19px, rgba(255, 255, 255, 0.09) 20px, rgba(255, 255, 255, 0.09) 26px);
}
.radial-tap--alternate {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  background-image: radial-gradient(circle, #ffffff 4px, #1e8a47 5px, #1e8a47 12px, rgba(30, 138, 71, 0.22) 13px, rgba(30, 138, 71, 0.22) 19px, rgba(30, 138, 71, 0.09) 20px, rgba(30, 138, 71, 0.09) 26px);
}
.radial-tap:hover .radial-tap--alternate {
  opacity: 1;
}
.radial-tap--solution {
  top: 137px;
  left: 170px;
  cursor: pointer;
  pointer-events: auto;
}
.radial-tap--active {
  top: 26px;
  right: 21px;
  background-image: radial-gradient(circle, #ffffff 4px, #1e8a47 5px, #1e8a47 12px, rgba(30, 138, 71, 0.22) 13px, rgba(30, 138, 71, 0.22) 19px, rgba(30, 138, 71, 0.09) 20px, rgba(30, 138, 71, 0.09) 26px);
}
.radial-tap--tablet {
  top: 23%;
  left: 68%;
}
.radial-tap--footer {
  left: 50px;
  top: 70%;
  transform: translate(-6px, -2px);
}
.news {
  padding: 0;
  margin-bottom: 87px;
}
.news__heading {
  padding: 0 calc(100vw * 200 / 1600) 58px;
  justify-content: space-between;
}
.news__wrapper {
  display: flex;
  padding-left: calc(100vw * 200 / 1600);
  margin-bottom: 0;
}
.news__images {
  margin-bottom: 20px;
}
.news__content {
  padding: 0;
}
.news__article {
  flex-shrink: 0;
  margin-right: 44px;
  margin-bottom: 36px;
}
.news__article--main {
  width: 558px;
  padding: 0;
  margin-bottom: 0;
  margin-right: 63px;
}
.news__article--main .news__title {
  margin-bottom: 14px;
  padding-left: 49px;
}
.news__article--main .news__description {
  padding-left: 49px;
}
.news__article--main .news__images {
  height: 439px;
  margin-bottom: 40px;
}
.news__article--main .news__description {
  margin-bottom: 12px;
}
.news__article:nth-child(2n) {
  margin-right: 0;
}
.news__description {
  padding-left: 0;
}
.news__footer {
  justify-content: flex-end;
  padding-right: 200px;
  margin-bottom: 0;
}
.news__all {
  margin-right: 63px;
}
@media (max-width: 1380px) {
  .news__article {
    margin-right: 50px;
  }
}
@media (max-width: 1350px) {
  .news__wrapper {
    padding: 0 calc(100vw * 100 / 1600);
    padding-right: 0;
  }
  .news__heading {
    padding: 0 calc(100vw * 100 / 1600) 58px;
  }
}
.shops {
  padding: 65px 0 53px 12.5%;
}
.shops__title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 0;
  padding: 0;
  margin-right: 134px;
}
.shops .city {
  margin-top: 14px;
}
.shops__wrap {
  display: flex;
  margin-bottom: 29px;
}
.shops__cards {
  margin-bottom: 30px;
  padding: 47px 39px 72px 39px;
  max-width: 2560px;
}
.shops-card {
  margin-right: 74px;
  margin-bottom: 0;
  width: auto;
}
.shops-card:nth-child(2) {
  margin-right: 56px;
}
.shops-card__name {
  width: 226px;
  line-height: 25px;
}
.shops-card__adres {
  line-height: 20px;
  width: 226px;
}
.shops-card--desktop {
  display: none;
}
.shops-buttons {
  padding-right: 200px;
  justify-content: flex-end;
}
.shops-buttons__all {
  margin-right: 67px;
}
.shops-buttons__arrow {
  margin-top: -3px;
}
@media (max-width: 1599px) {
  .shops-buttons {
    padding-left: 0;
  }
  .shops-card {
    margin-right: 40px;
  }
  .shops__cards {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.shops--v2 .shops__title {
  margin-right: 190px;
  max-width: 431px;
}
.button-map {
  display: none;
}
.shops--v2 {
  padding-top: 0;
}
.map {
  display: block;
  margin-left: -200px;
  margin-bottom: 57px;
  width: 100%;
}
.iframe-map {
  width: 100%;
  height: 595px;
}
@media (min-width: 1730px) {
  .shops-card--1730px {
    display: inline-block;
    margin-right: 0;
  }
}
@media (min-width: 2045px) {
  .shops-card--1730px {
    display: inline-block;
    margin-right: 74px;
  }
  .shops-card--2045px {
    display: inline-block;
    margin-right: 0;
  }
}
@media (min-width: 2385px) {
  .shops-card--2045px {
    display: inline-block;
    margin-right: 74px;
  }
  .shops-card--2385px {
    display: inline-block;
    margin-right: 0;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-nav {
  width: 67.5%;
  order: 0;
  padding: 86px 10px 7px 12.5%;
}
.footer-green {
  width: 32.5%;
  order: 1;
  padding-top: 88px;
}
.footer-green__wrap {
  display: block;
  padding-bottom: 87px;
  padding-left: 14%;
}
.footer-green__title {
  margin-bottom: 165px;
  margin-right: 0;
  margin-left: 0;
}
.footer-green__link {
  padding: 69px 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-green__link svg {
  width: 172px;
}
.footer-green__text {
  margin-right: 29px;
}
.button-clear--footer {
  margin-left: 0;
}
.footer-black {
  width: 32.5%;
  order: 3;
  display: block;
  padding: 58px calc(5% - 2px) 64px;
}
.footer-black__social {
  margin-bottom: 10px;
}
.footer-black__text {
  display: inline-block;
  margin-bottom: 17px;
}
.footer-black__phone-wrap {
  margin: 0;
}
.footer-grey {
  width: 67.5%;
  order: 2;
  padding: 127px 10px 30px 12.5%;
}
.footer-grey__wrap {
  margin: 0;
}
.footer-grey__link {
  margin-right: 55%;
}
.footer-grey__text {
  margin: 0;
}
.logo--footer {
  margin-left: 0;
  margin-right: 27px;
}
.kontora-wrap {
  display: inline-block;
}
@media (max-width: 1599px) {
  .kontora {
    bottom: 40px;
  }
  .footer-green__text {
    margin-right: 20px;
    letter-spacing: normal;
  }
  .footer-green__link svg {
    width: 110px;
  }
}
.header--v2 {
  width: 640px;
  top: 0;
  right: 0;
  padding: 21px 0 27px 38px;
  justify-content: flex-end;
}
.header--v2::after {
  content: none;
}
.header--v2 .counter {
  display: block;
}
.header--v2 .city__geo {
  width: 26px;
  height: 26px;
}
.header--v2 .city__name {
  margin-top: 0;
}
.header--v2 .city__arrow {
  margin-top: -3px;
}
.lang--catalog {
  margin-right: calc((100vw - 1280px) * 64 / (1600 - 1280) + 18px);
  margin-right: 64px;
  order: 2;
}
.search--catalog,
.call--catalog,
.logo--catalog {
  display: none;
}
.burger--desktop {
  width: 80px;
  order: 3;
  max-height: 80px;
  margin-left: 0;
  align-self: auto;
  overflow: visible;
}
.burger--desktop::after {
  height: 19px;
}
.burger--desktop::before {
  top: auto;
  height: 21px;
}
.burger--desktop:hover .burger__button,
.burger--desktop:active .burger__button {
  background-color: #FFFFFF;
}
.burger--desktop:hover .burger__button::before,
.burger--desktop:active .burger__button::before {
  background-color: #FFFFFF;
}
.burger--desktop:hover .burger__button::after,
.burger--desktop:active .burger__button::after {
  background-color: #FFFFFF;
}
.burger__button--catalog {
  width: 29px;
}
.burger__button--catalog:after,
.burger__button--catalog:before {
  content: "";
  width: 29px;
  position: absolute;
  left: 0;
}
.burger__button--catalog::after {
  width: 20px;
}
.likes--header-catalog {
  display: block;
  margin-right: calc((100vw - 1280px) * 61 / (1600 - 1280) + 18px);
  margin-right: 61px;
  width: 21px;
  height: 18px;
}
.likes--header-catalog::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
}
.likes--header-catalog:hover svg,
.likes--header-catalog:active svg {
  fill: rgba(255, 255, 255, 0.7);
}
.cart--catalog {
  margin-right: 65px;
}
.city--header {
  display: flex;
  margin-right: calc((100vw - 1280px) * 80 / (1600 - 1280) + 20px);
  margin-right: 39px;
  order: 3;
}
.city--header:hover .city__geo svg {
  fill: #1E8A47;
}
.city--header:hover .city__name {
  color: #1E8A47;
}
.city--header:hover .city__arrow svg {
  stroke: #1E8A47;
}
@media (min-width: 1600px) {
  .likes--header-catalog {
    margin-right: 78px;
  }
  .cart--catalog {
    margin-right: 80px;
  }
  .lang--catalog {
    margin-right: 64px;
  }
  .city--header {
    margin-right: 39px;
  }
}
.counter--catalog {
  color: #FFFFFF;
  background-color: #1E8A47;
  line-height: 14px;
  transform: translate(-4px, 3px);
}
.home-v2 {
  margin-bottom: 0;
  height: 530px;
  margin-left: auto;
  width: calc(100% - 320px);
}
.home-v2__title {
  padding-left: calc(5% - 3px);
  margin-top: auto;
  margin-bottom: 150px;
  padding-right: 58%;
}
.picture--home-v2 {
  height: calc(80px + 100vw * 450 / 1600);
  max-height: 530px;
  width: 100%;
  left: auto;
  right: 0;
}
.button-order {
  display: none;
}
.breadcrumb {
  display: none;
}
.breadcrumdesktop {
  display: flex;
  flex-wrap: wrap;
  padding-left: calc(10% - 6px);
  margin: 27px 0 auto 0;
}
.breadcrumdesktop__item--active {
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 2px;
}
.breadcrumdesktop__link {
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}
.breadcrumdesktop__link:hover {
  color: #FFFFFF;
}
.breadcrumdesktop__link:active {
  color: #FFFFFF;
}
.breadcrumdesktop li + li:before {
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.8);
  content: "\2015";
}
@media (max-width: 1400px) {
  .home-v2__title {
    margin-bottom: 200px;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  z-index: 2;
  padding: 0;
}
.sidebar__nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 210px;
}
.sidebar__info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.sidebar__tel {
  display: flex;
  height: 50%;
  background-color: #f7f7f7;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  transition: color 0.3s;
}
.sidebar__tel:hover,
.sidebar__tel :active {
  color: rgba(60, 60, 60, 0.8);
}
.sidebar__filter {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 51px;
  margin-bottom: 80px;
  max-width: none;
}
.sidebar__filter-link {
  padding: 21px 0 24px 29px;
  font-size: 16px;
  line-height: 35px;
  background-color: #f7f7f7;
  max-width: none;
  width: 100%;
  justify-content: flex-start;
}
.sidebar__filter-link--active {
  background-color: #1E8A47;
}
.sidebar__filter-settings {
  display: none;
}
.sidebar__list {
  padding-left: 81px;
  display: block;
}
.sidebar__list-item {
  margin-bottom: 54px;
}
.sidebar__submenu {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  transition: color 0.3s;
  padding-right: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.sidebar__submenu:hover,
.sidebar__submenu:active {
  color: rgba(60, 60, 60, 0.8);
}
.sidebar__submenu svg {
  transition: transform 0.3s;
}
.sidebar__form {
  display: flex;
  flex-direction: column;
}
.sidebar__product-link {
  transition: color 0.3s;
  font-size: 14px;
  line-height: 48px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 5px;
}
.sidebar__product-link:hover,
.sidebar__product-link:active {
  color: rgba(60, 60, 60, 0.8);
}
.cost-container {
  display: flex;
  font-size: 14px;
  line-height: 55px;
  margin-bottom: 2px;
}
.min-cost {
  margin-right: 106px;
}
.noUiSlider {
  height: 1px;
  width: 208px;
  margin-bottom: 66px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  background-color: #1E8A47;
  box-shadow: none;
  border-radius: 50%;
  cursor: pointer;
  top: -11px;
}
.noUi-handle:after,
.noUi-handle:before {
  content: none;
}
.noUi-target {
  box-shadow: none;
}
.noUi-connect {
  background: #1E8A47;
}
.noUi-base {
  height: 1px;
  box-shadow: none;
  background-color: #e0e0e0;
}
input[type='reset'] {
  display: none;
}
label[for='reset'] {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 130px;
  margin-bottom: 22px;
  transition: color 0.3s;
}
label[for='reset']:hover,
label[for='reset']:active {
  color: rgba(60, 60, 60, 0.8);
}
label[for='reset']:after,
label[for='reset']:before {
  content: "";
  position: absolute;
  right: 0;
  top: 12px;
  width: 25px;
  height: 1px;
  transition: background-color 0.3s;
  background-color: #979797;
}
label[for='reset']:after {
  transform: rotate(45deg);
}
label[for='reset']:before {
  transform: rotate(-45deg);
}
label[for='reset']:hover::after,
label[for='reset']:hover::before {
  background: rgba(151, 151, 151, 0.5);
}
label[for="sale"] {
  display: flex;
  align-items: center;
}
.logo-link--sidebar {
  width: 160px;
  height: 160px;
}
.phone--sidebar {
  position: static;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C34A;
}
.search--sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
  position: absolute;
}
.search--sidebar svg {
  fill: #3C3C3C;
}
.search--sidebar:hover svg {
  fill: #1E8A47;
}
.search-input--sidebar {
  width: 80px;
  height: 80px;
  background-color: #e6e6e6;
}
.search-input--sidebar__input {
  border: 0;
  background-color: transparent;
  width: 0%;
  height: 80px;
  outline: none;
  transition: width 0.3s;
  color: #3C3C3C;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  background-color: #e6e6e6;
  -webkit-appearance: none;
}
.search-input--sidebar__input::placeholder {
  color: #3C3C3C;
}
.search-input--sidebar__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-input--sidebar__input.active {
  width: 85%;
  background-color: #e6e6e6;
}
.search-input--sidebar__form-wrapper {
  position: relative;
  width: 80px;
  transition: width 0.3s;
  height: 100%;
}
.search-input--sidebar__form-wrapper.active {
  width: calc(721px + (100vw - 1600px) / 2);
  background-color: #e6e6e6;
}
.phone--sidebar svg {
  fill: #FFFFFF;
  transition: fill 0.3s;
}
.phone--sidebar:hover svg {
  fill: rgba(255, 255, 255, 0.8);
}
.title--sidebar {
  display: none;
}
.products-v2 {
  margin-left: auto;
  width: calc(100% - 320px);
  margin-bottom: 137px;
  margin-top: -450px;
}
.products-v2__wrap {
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 89px;
}
.card-product {
  width: 50%;
  height: calc(100vw * 450 / 1600);
  max-height: 450px;
}
.card-product__wrap::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(60, 60, 60, 0);
  transition: background-color 0.6s;
  z-index: 2;
}
.card-product__link:hover .image--transform {
  transform: scale(1.1);
}
.card-product__link:hover .card-product__wrap::before {
  background-color: rgba(60, 60, 60, 0.4);
  z-index: 2;
}
.card-product--type-1 {
  order: 2;
}
.card-product--type-2 {
  margin-bottom: 0;
  align-items: flex-end;
  order: 1;
}
.card-product--type-3 {
  order: 6;
}
.card-product--type-4 {
  order: 4;
  background-color: #F7F7F7;
  align-items: flex-start;
}
.card-product--type-5 {
  order: 5;
  margin-top: auto;
  margin-bottom: 84px;
  padding: 10px 320px 0 62px;
  height: 100%;
}
.card-product--type-7 {
  order: 7;
}
.card-product--type-8 {
  order: 9;
}
.card-product--type-9 {
  order: 8;
  padding: calc(5% - 4px) 25px 70px 84px;
}
.card-product--type-11 {
  display: none;
}
.card-product--type-13 {
  order: 13;
  padding: 0 295px 10px 66px;
  margin-top: 65px;
  margin-bottom: auto;
  height: 100%;
}
.card-product--type-14 {
  order: 14;
  height: auto;
  max-height: 100vh;
}
.card-product--type-15 {
  order: 12;
  margin-bottom: 0;
}
.card-product--type-17 {
  order: 3;
}
.card-product--type-18 {
  order: 10;
}
.card-product--type-19 {
  order: 11;
  background-color: #F7F7F7;
}
.card-product--type-20 {
  display: flex;
  order: 0;
  position: relative;
}
.card-product--type-21 {
  display: none;
}
.card-product--type-22 {
  display: flex;
  background-color: #F7F7F7;
  width: 100%;
  max-height: 50vh;
}
.card-product--type-23 {
  display: flex;
  width: 100%;
  max-height: 50vh;
}
.card-product__title--left {
  top: 81px;
  right: 138%;
}
.card-product__title--right {
  top: 2px;
  left: 112%;
}
.card-product__wrap-description {
  left: 95px;
  bottom: 136px;
}
.card-product__description {
  max-width: 429px;
}
.card-product__description--first {
  margin-right: 0;
  margin-left: 0;
  min-width: 258px;
  padding-top: 0;
}
.card-product__description--second-1 {
  margin-left: 0;
}
.card-product__description--second-2 {
  line-height: 35px;
  margin-left: 0;
}
.card-product__description--second-3 {
  font-size: 200px;
  line-height: 205px;
}
.card-product__description--second-4 {
  margin-right: 0;
  margin-bottom: 0;
  min-width: auto;
}
.card-product__description--third {
  margin-right: 0;
  margin-left: 0;
}
.card-product__shell {
  display: flex;
  flex-direction: column;
  width: 50%;
  order: 15;
  max-height: 100vh;
}
.card-product__shell picture {
  max-height: 50vh;
}
.card-product__name--renaissance {
  z-index: 2;
}
.product__wrapper {
  overflow: hidden;
}
.product__wrapper--height-small {
  max-height: 370px;
  height: calc(100vw * 370 / 1600);
}
.product__wrapper--height-450 {
  max-height: 450px;
  height: calc(100vw * 450 / 1600);
}
.product__wrapper--height-big {
  max-height: 900px;
  height: calc(100vw * 900 / 1600);
}
.product__wrapper img {
  transition: scale, 0.6s;
}
.pages {
  padding-left: 0;
}
.button-order-desktop {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1E8A47;
  width: 50%;
  height: 80px;
}
.button-order-desktop__link {
  display: flex;
  align-items: center;
  padding: 21px 3% 23px 8%;
}
.button-order-desktop__link svg {
  fill: none;
  stroke: #FFFFFF;
  transition: stroke 0.3s;
}
.button-order-desktop__text {
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
  display: inline-block;
  margin-left: calc(19% - 2px);
  margin-right: 11%;
  transition: color 0.3s;
}
.button-order-desktop:hover .button-order-desktop__text,
.button-order-desktop:hover .button-order-desktop__link svg {
  color: rgba(255, 255, 255, 0.8);
  stroke: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1480px) {
  .card-product__title--left {
    right: 125%;
  }
  .card-product__title--left-top {
    right: 125%;
  }
  .card-product--type-5 {
    padding: 10px 100px 0 62px;
  }
  .card-product--type-13 {
    padding: 0 100px 10px 66px;
  }
}
@media (max-width: 1549px) {
  .button-order-desktop__link {
    justify-content: center;
    padding: 21px 1px 23px 1px;
  }
  .button-order-desktop__text {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@-moz-document url-prefix() {
  .card-product--type-15 {
    margin-bottom: 100px;
  }
  .card-product--type-23 {
    margin-top: 136px;
  }
  .card-product__shell {
    margin-top: -125px;
  }
}
.sale--v2 {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 110px;
  position: relative;
}
.sale--v2::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  left: 0;
  top: 0;
  height: 143px;
}
.sale--v2 .sale__description {
  margin-bottom: 70px;
}
.sale--v2 .sale__discount-about {
  margin-right: 93px;
}
.sale--v2 .sale__preview-play {
  height: 142px;
  width: 142px;
}
.sale__content--v2 {
  width: 50%;
  margin-bottom: 0;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 236px;
}
.sale__wrapper--v2 {
  width: 50%;
  order: 2;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.sale__title--v2 {
  display: none;
}
.sale__discount--catalog {
  color: #f7f7f7;
  bottom: 78%;
  right: 0;
  transform: translate(-150%);
  position: absolute;
  width: 426px;
}
.sale__link--v2 {
  height: 497px;
}
.sale__title--hidden {
  display: block;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 32px;
}
.sale__title--alternate-catalog {
  display: none;
}
.sale__title--v2-desk {
  display: flex;
  right: 0;
  top: 171px;
  width: auto;
}
.sale__link-hidden {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #1E8A47;
  transition: color 0.3s;
  text-transform: uppercase;
}
.sale__link-hidden:hover,
.sale__link-hidden:active {
  color: #00C34A;
}
.sale__images-prev {
  max-height: 100vh;
  height: calc(100vw * 676 / 1600);
}
.sale__date--hidden {
  display: block;
  position: absolute;
  right: 0;
  bottom: -31px;
  margin-bottom: 0;
  width: auto;
}
.sale__date--catalog-desktop {
  display: none;
}
.sale__description--v2 {
  width: auto;
  margin-bottom: 74px;
  order: 0;
  padding-right: 140px;
}
.sale__preview-link {
  padding: 0;
}
.sale__preview {
  order: 2;
  width: 100%;
  margin-top: 198px;
}
.sale__footer-nav {
  padding: 0;
  background-color: #F7F7F7;
}
.pagination--v2 {
  margin-top: -11px;
}
.tech {
  padding: 13px 0 0 12.5%;
  margin-bottom: 55px;
}
.tech__heading {
  padding-left: 0;
  display: flex;
  margin-bottom: 52px;
}
.tech__title {
  margin-bottom: 0;
  padding: 0;
  width: 262px;
  margin-right: 338px;
}
.tech__description {
  margin-bottom: 0;
  width: 321px;
  padding-top: 14px;
  line-height: 22px;
}
.tech__sliders {
  padding-left: 0;
}
.tech__item:nth-child(3) {
  opacity: 1;
}
.tech__item:nth-child(5) {
  opacity: 0.5;
}
.tech__item-description {
  line-height: 23px;
}
.news__wrapper--v2 {
  padding-right: 219px;
  margin-bottom: 62px;
}
.news__all--v2 {
  margin-right: 52px;
}
